body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #713636;
}
h1 {
    color: #333;
}
form {
    background: #a27878;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #361e1e;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: rgb(133, 31, 31);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #b78b8b;
}
h1 {
    color: #333;
}
form {
    background: #cab8b8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ebc9c9;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
